#subir__arriba{
    width: 70px;
    height: 70px;
    background: rgba(187, 187, 187, 0);
    color: hsla(0, 0%, 2%, 0.842);
    display: flex;
    justify-content: right;
    align-items: center;
    font-size: 30px;
    position: fixed;
    bottom: 20px;
    cursor: pointer;
    display: flex;
    margin-left: 75rem;
}

html{
    scroll-behavior: smooth;
}

